{
    "swagger": "2.0",
    "info": {
        "description": "qmaxservice API documentation",
        "version": "0.0.1",
        "title": "qmaxservice API",
        "contact": {},
        "license": {
            "name": ""
        }
    },
    "host": "qmax.nunam.com",
    "basePath": "/",
    "tags": [
        {
            "name": "battery-resource",
            "description": "Battery Resource"
        }
    ],
    "paths": {
        "/api/v1/batteries/": {
            "get": {
                "tags": [
                    "battery-resource"
                ],
                "summary": "getAllBatteries",
                "operationId": "getAllBatteriesUsingGET",
                "produces": [
                    "*/*"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/BatteryDTO"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        
        "/api/v1/batteries/soh-stats": {
            "get": {
                "tags": [
                    "battery-resource"
                ],
                "summary": "sohStats",
                "operationId": "sohStatsUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "parameter",
                        "in": "query",
                        "description": "parameter",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/BatteryStats"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/api/v1/batteries/{id}": {
            "get": {
                "tags": [
                    "battery-resource"
                ],
                "summary": "getBattery",
                "operationId": "getBatteryUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BatteryDTO"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/api/v1/batteries/{id}/charge-cycle-count": {
            "get": {
                "tags": [
                    "battery-resource"
                ],
                "summary": "getChargeCycleCount",
                "operationId": "getChargeCycleCountUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CycleCount"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/api/v1/batteries/{id}/connectivity-stats": {
            "get": {
                "tags": [
                    "battery-resource"
                ],
                "summary": "thingsboardTelemetry",
                "operationId": "thingsboardTelemetryUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "modulePosition",
                        "in": "query",
                        "description": "modulePosition",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/JsonNode"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        
        "/api/v1/batteries/{id}/days-usage-stats": {
            "get": {
                "tags": [
                    "battery-resource"
                ],
                "summary": "getWeekBatteryUsageStats",
                "operationId": "getWeekBatteryUsageStatsUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "numberOfDays",
                        "in": "query",
                        "description": "numberOfDays",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/DayWiseUsageStats"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        
        "/api/v1/batteries/{id}/energy_delivered": {
            "get": {
                "tags": [
                    "battery-resource"
                ],
                "summary": "getenergyDelivered",
                "operationId": "getenergyDeliveredUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "number",
                            "format": "double"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/api/v1/batteries/{id}/fce": {
            "get": {
                "tags": [
                    "battery-resource"
                ],
                "summary": "getFullCycleEquivalent",
                "operationId": "getFullCycleEquivalentUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "number",
                            "format": "double"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        
        "/api/v1/batteries/{id}/power-charged": {
            "get": {
                "tags": [
                    "battery-resource"
                ],
                "summary": "getPowerChargedStats",
                "operationId": "getPowerChargedStatsUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/PowerStat"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/api/v1/batteries/{id}/power-delivered": {
            "get": {
                "tags": [
                    "battery-resource"
                ],
                "summary": "getPowerDeliveredStats",
                "operationId": "getPowerDeliveredStatsUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "vehicleId",
                        "in": "path",
                        "description": "vehicleId",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/PowerStat"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/api/v1/batteries/{id}/temperature-stats": {
            "get": {
                "tags": [
                    "battery-resource"
                ],
                "summary": "getDeviceTmpStats",
                "operationId": "getDeviceTmpStatsUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "ts",
                        "in": "query",
                        "description": "ts",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/TemperatureOverCycles"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/api/v1/batteries/{id}/soh": {
            "get": {
                "tags": [
                    "battery-resource"
                ],
                "summary": "getBatterySoh",
                "operationId": "getBatterySohUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "number",
                            "format": "double"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/api/v1/batteries/{id}/status": {
            "get": {
                "tags": [
                    "battery-resource"
                ],
                "summary": "getBatteryUsageStatus",
                "operationId": "getBatteryUsageStatusUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "ts",
                        "in": "query",
                        "description": "ts",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/api/v1/batteries/{id}/telemetry": {
            "get": {
                "tags": [
                    "battery-resource"
                ],
                "summary": "telemetry",
                "operationId": "telemetryUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "key",
                        "in": "query",
                        "description": "key",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "limit",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "modulePosition",
                        "in": "query",
                        "description": "modulePosition",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "startTs",
                        "in": "query",
                        "description": "startTs",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "ts",
                        "in": "query",
                        "description": "ts",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/JsonNode"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/api/v1/batteries/{id}/tmp-cycles-charge": {
            "get": {
                "tags": [
                    "battery-resource"
                ],
                "summary": "getTemperatureCycleCharge",
                "operationId": "getTemperatureCycleChargeUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TemperatureCycle"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/api/v1/batteries/{id}/tmp-cycles-discharge": {
            "get": {
                "tags": [
                    "battery-resource"
                ],
                "summary": "getTemperatureCycleDischarge",
                "operationId": "getTemperatureCycleDischargeUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/TemperatureCycle"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/api/v1/batteries/{id}/total-mills-charged": {
            "get": {
                "tags": [
                    "battery-resource"
                ],
                "summary": "getTotalMinutesCharged",
                "operationId": "getTotalMinutesChargedUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/api/v1/batteries/{id}/total-mills-used": {
            "get": {
                "tags": [
                    "battery-resource"
                ],
                "summary": "getTotalMinutesUsed",
                "operationId": "getTotalMinutesUsedUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/api/v1/batteries/{id}/total-power-delivered": {
            "get": {
                "tags": [
                    "battery-resource"
                ],
                "summary": "getTotalPowerDelivered",
                "operationId": "getTotalPowerDeliveredUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "number",
                            "format": "double"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/api/v1/batteries/{id}/usage-sessions": {
            "get": {
                "tags": [
                    "battery-resource"
                ],
                "summary": "getSessions",
                "operationId": "getSessionsUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "name": "ts",
                        "in": "query",
                        "description": "ts",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/UsageSessions"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/api/v1/batteries/{id}/usage-stats": {
            "get": {
                "tags": [
                    "battery-resource"
                ],
                "summary": "getBatteryUsageStats",
                "operationId": "getBatteryUsageStatsUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/UsageStats"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        }
    },
    "definitions": {
        BatteryDTO": {
            "type": "object",
            "properties": {
                "batteryType": {
                    "$ref": "#/definitions/BatteryTypeDto"
                },
                "batteryTypeId": {
                    "type": "integer",
                    "format": "int32"
                },
                "chemistryType": {
                    "$ref": "#/definitions/ChemistryTypeDTO"
                },
                "chemistryTypeId": {
                    "type": "integer",
                    "format": "int32"
                },
                "id": {
                    "type": "string",
                    "format": "uuid"
                },
                "installationId": {
                    "type": "array",
                    "items": {
                        "type": "integer",
                        "format": "int32"
                    }
                },
                "manufacturer": {
                    "$ref": "#/definitions/ManufacturerDTO"
                },
                "manufacturerId": {
                    "type": "integer",
                    "format": "int64"
                },
                "modulePosition": {
                    "type": "integer",
                    "format": "int32"
                },
                "name": {
                    "type": "string"
                },
                "nominalVoltage": {
                    "type": "number",
                    "format": "double"
                },
                "numberOfStrings": {
                    "type": "integer",
                    "format": "int32"
                },
                "operatingRange": {
                    "type": "number",
                    "format": "double"
                },
                "packCapacity": {
                    "type": "number",
                    "format": "double"
                },
                "partner": {
                    "$ref": "#/definitions/PartnerDTO"
                },
                "partnerId": {
                    "type": "integer",
                    "format": "int64"
                },
                "soh": {
                    "type": "number",
                    "format": "double"
                }
            },
            "title": "BatteryDTO"
        },
        "CycleCount": {
            "type": "object",
            "properties": {
                "count": {
                    "type": "integer",
                    "format": "int32"
                },
                "date": {
                    "type": "string",
                    "format": "date-time"
                }
            },
            "title": "CycleCount"
        },
        "DayWiseUsageStats": {
            "type": "object",
            "properties": {
                "chargeCycles": {
                    "type": "number",
                    "format": "double"
                },
                "date": {
                    "type": "string",
                    "format": "date-time"
                },
                "dischargeCycles": {
                    "type": "number",
                    "format": "double"
                },
                "energyCharged": {
                    "type": "number",
                    "format": "double"
                },
                "energyDelivered": {
                    "type": "number",
                    "format": "double"
                },
                "minutesCharged": {
                    "type": "integer",
                    "format": "int64"
                },
                "minutesUsed": {
                    "type": "integer",
                    "format": "int64"
                }
            },
            "title": "DayWiseUsageStats"
        },
         "PowerStat": {
            "type": "object",
            "properties": {
                "date": {
                    "type": "string",
                    "format": "date-time"
                },
                "power": {
                    "type": "number",
                    "format": "double"
                }
            },
            "title": "PowerStat"
        },
        "TemperatureCycle": {
            "type": "object",
            "properties": {
                "averageTmp": {
                    "type": "number",
                    "format": "double"
                },
                "cycleFive": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/TelemetryPoint"
                    }
                },
                "cycleFour": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/TelemetryPoint"
                    }
                },
                "cycleOne": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/TelemetryPoint"
                    }
                },
                "cycleThree": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/TelemetryPoint"
                    }
                },
                "cycleTwo": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/TelemetryPoint"
                    }
                },
                "maxTmp": {
                    "type": "number",
                    "format": "double"
                },
                "minTmp": {
                    "type": "number",
                    "format": "double"
                }
            },
            "title": "TemperatureCycle"
        },
        "TemperatureOverCycleRecord": {
            "type": "object",
            "properties": {
                "soc": {
                    "type": "number",
                    "format": "double"
                },
                "temperature": {
                    "type": "number",
                    "format": "double"
                }
            },
            "title": "TemperatureOverCycleRecord"
        },
        "TemperatureOverCycles": {
            "type": "object",
            "properties": {
                "date": {
                    "type": "string",
                    "format": "date-time"
                },
                "maxCharge": {
                    "$ref": "#/definitions/TemperatureOverCycleRecord"
                },
                "maxDisCharge": {
                    "$ref": "#/definitions/TemperatureOverCycleRecord"
                },
                "minCharge": {
                    "$ref": "#/definitions/TemperatureOverCycleRecord"
                },
                "minDisCharge": {
                    "$ref": "#/definitions/TemperatureOverCycleRecord"
                }
            },
            "title": "TemperatureOverCycles"
        },
    }
}